[submodule "site/content/algorithms/_algorithms"]
	path = site/content/algorithms/_algorithms
	url = git@github.com:grind-rip/algorithms.git
[submodule "site/content/data-structures/_data-structures"]
	path = site/content/data-structures/_data-structures
	url = git@github.com:grind-rip/data-structures.git
[submodule "site/content/docs/_docs"]
	path = site/content/docs/_docs
	url = git@github.com:grind-rip/docs.git
[submodule "site/content/interviews/_interviews"]
	path = site/content/interviews/_interviews
	url = git@github.com:grind-rip/interviews.git
[submodule "site/content/leetcode/_leetcode"]
	path = site/content/leetcode/_leetcode
	url = git@github.com:grind-rip/leetcode.git
[submodule "site/content/system-design/_system-design"]
	path = site/content/system-design/_system-design
	url = git@github.com:grind-rip/system-design.git
