.page {
    display: grid;
    // 72rem = 88 character line length
    max-width: 72rem;
    grid-row-gap: 2rem;
    grid-template-areas: "header" "body" "aside" "footer";
    grid-template-columns: minmax(0, 1fr);
    margin: 1rem auto;

    .header {
        grid-area: header;
        display: flex;
    }

    .logo {
        flex-shrink: 0;
    }

    .nav {
        flex-grow: 1;
    }

    .body {
        grid-area: body;
        overflow-wrap: break-word;
    }

    .aside {
        grid-area: aside;
    }

    .footer {
        grid-area: footer;
    }
}

@media (min-width: 45rem) {
    .page {
        grid-template-areas:
        "header  header"
        "body    aside"
        "footer  aside";
        grid-template-columns: minmax(0, 1fr) 15rem;
        grid-column-gap: 2rem;
    }
}
