.about {
    height: 1.5rem;
}

.about {
    display: inline;
    vertical-align: top;
}

.about::before {
    content: none;
}

.aside {

    .socials {
        font-size: 20px;
        padding: 0;
        text-decoration: none;
    }

    .socials ul {
        display: inline;
        margin: 0;
    }

    .socials li {
        display: inline;
        margin: 0;
    }

    .socials a {
        text-decoration: none;
    }

    .socials li::marker {
        content: none;
    }
}
