{{ define "main" }}
  <header class="content">
      <h1>{{ .Title }}</h1>
  </header>
  <aside></aside>
  <div class="body">
      {{ .Content }}
  </div>
  <footer class="footer"></footer>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}

{{ define "aside" }}
  {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
  {{ with .Params.author }}<p>By {{ . }}</p>{{ end }}
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
{{ end }}
