@import 'abstracts/_variables.scss';

body {
    background-color: $bg;
    color: $fg;
    // Improve font rendering across different browsers and operating systems.
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
